{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra %}

  <div class="container-fluid justify-content-center align-items-center d-flex flex-column m-5 text-center">
    <img src="/media/{{user.profile.image}}" class="rounded-circle" style="height:106px;width:106px" alt="Avatar">
    <br>
    <p class="h4">{{user.username}}</p>
    <div class="container d-flex flex-row justify-content-evenly align-items-center">
      <p class="muted">Followers {{user.profile.followers | length}}</p>
      <p class="muted">Following {{user.profile.following | length}}</p>
    </div>
    <p class="muted">{{user.profile.biography}}</p>
  </div>

  {% include 'posts/posts.html' %}

{% endblock extra %}