{% extends 'social/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra %}

  <div
    class="container-fluid p-3 mt-5" 
    style="background-color: #EDE2FF; color: white; border-radius: 30px;">
    <form method="post" action="/posts/" class="d-flex flex-row">
      {% csrf_token %}
      <input 
        type="text"
        name="post_text"
        placeholder="O que você gostaria de compartilhar com o mundo?"
        style="border: none;" 
        class="form-control form-control-lg bg-transparent" 
        onkeydown="(event) => {if (event.keyCode == 13) { this.form.submit(); return false; }}"
        required
      >
      </input>
      <button type="submit"><span class="fas fa-paper-plane btn" style="font-size:1.3rem;"></span></button>
    </form>
  </div>

  {% include 'social/posts.html' %}

{% endblock extra %}