{% load filters %}

{% for post in posts %}
<div class="container-fluid card mt-5 mb-2 p-4" style="border-radius: 30px; text-decoration: none; color:black;" href="{% url 'single_post' post_id=post.pk %}">
	<div class="d-flex flex-column">
		<a href="{% url 'profile' username=post.author.username %}" class="btn">
			<div class="d-flex justify-content-between">
				<img src="/media/{{ post.author.profile.image }}" class="rounded-circle align-self-start" style="width:32px">
			
				<b>{{ post.author.username }}</b>
				<p>{{ post.date_posted | date:"d/m/Y" }}</p>
			</div>
		</a>

		<a href="{% url 'single_post' post_id=post.pk %}" style="text-decoration:none; color:black;">
			<p>{{post.content}}</p>
			
			{% if post.image %}
				<div class="d-flex flex-row">
					<img src="/media/{{ post.image }}" class="img-fluid" style="border-radius: 30px">
				</div>
			{% endif %}
			<div class="d-flex flex-row mt-3">
				<form method="post" action="/posts/{{post.pk}}/like" onsubmit="(event)=>event.preventDefault();">
					{% csrf_token %}
					<button type="submit" class="btn">
					{% if user|liked:post.pk %}
						<span class="fa fa-heart h5" style="color: #9f67a8"> {{ post.likes.all | length}}</span>
					{% else %}
						<span class="fa fa-heart h5" style="color: #ebaef5"> {{ post.likes.all | length}}</span>
					{% endif %}
					</button>
				</form>
				<form method="post" action="/posts/{{post.pk}}/like">
					<button type="button" class="btn">
					<i class="fa fa-comment h5" style="color: #ebaef5"> {{ post.comments.all | length }}</i>
					</button>
				</form>
			</div>
		</a>
	</div>
</div>
{% endfor %}